/* ---------------------------- HEADER------------------------------------------------------- */
header {
    /* position: fixed;
    top: 0; */
    width: 100%;
    font-size: 1.5rem;
}

/* ----------------------------------------navbar-----------------------------*/
.navbar {
    display: flex;
    flex-direction: column;
}

.navbar-item {
    display: flex;
}

a {
    text-decoration: none;

}

ul li {
    list-style: none;
}

.navbar-item-up {
    background-color: white;
    justify-content: space-between;
}

.navbar-item-up a {
    color: #3d578d;
}

.navbar-item-up-first {
    margin-left: 20px;
}

.navbar-item-up-second {
    margin-right: 2rem;
    position: relative;
    color: var(--white-color);
}

.navbar-item-up-first img {
    width: 13rem;
}

.navbar-item-list-item {
    font-weight: 400;
    margin: 0 .8rem;
    min-height: 3.4rem;
    display: inline-flex;
    align-items: center;
}

.navbar-item-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-top: .8rem;
    position: relative;
}

.navbar-item-list-item-user img{
    width: 2.2rem;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.navbar-item-list-item-user span{
    color: #3d578d;
    padding-left: 1rem;
}

.navbar-item-up-second .navbar-item-list-item a:hover, 
.navbar-item-up-second .navbar-item-list-item span:hover{
    opacity: 0.7;
    cursor: pointer;
}

.navbar-item-list-item-user{
    position: relative;
}

.navbar-item-list-item-user:hover .navbar-item-list-item-user-list{
    display: block;
}

.navbar-item-list-item-user-list{
    background-color: rgb(255, 255, 255);
    width: 13rem;
    position: absolute;
    top: 3rem;
    z-index: 1;
    padding-left: 0;
    border: 2px solid rgba(0, 0, 0, 0.1);
    display: none;
}

.navbar-item-list-item-user-list li{
    padding: 1rem;
}

.hide{
    margin-top: 1.8rem;
    display: none;
}


.navbar-item-down {
    background-color: #3d578d;
}

.navbar-item-down a {
    color: var(--white-color);
}


.navbar-item-down .navbar-item-list {
    margin: 0 auto;
}

.navbar-item-down .navbar-item-list .navbar-item-list-item {
    padding: 0 4rem;
}

.navbar-item-down .navbar-item-list-item {
    position: relative;
}

.navbar-item-list-item-info1 {
    position: absolute;
    width: 20rem;
    background-color: var(--white-color);
    top: 4rem;
    display: none;
    z-index: 1;
}

.navbar-item-list-item-company:hover .navbar-item-list-item-info1 {
    display: block;
}

.navbar-item-list-item-company:hover {
    background-color: #819bd1;
}

.navbar-item-list-item-info2 {
    position: absolute;
    width: 20rem;
    background-color: var(--white-color);
    top: 4rem;
    display: none;
    z-index: 1;
}

.navbar-item-list-item-employer:hover .navbar-item-list-item-info2 {
    display: block;
}

.navbar-item-list-item-employer:hover {
    background-color: #819bd1;
}

.navbar-item-list-item-info3 {
    position: absolute;
    width: 20rem;
    background-color: var(--white-color);
    top: 4rem;
    display: none;
    z-index: 1;
}

.navbar-item-list-item-work:hover .navbar-item-list-item-info3 {
    display: block;
}

.navbar-item-list-item-work:hover {
    background-color: #819bd1;
}

.navbar-item-list-item-info4 {
    position: absolute;
    width: 20rem;
    background-color: var(--white-color);
    top: 4rem;
    display: none;
    z-index: 1;
}

.navbar-item-list-item-cv-profile:hover .navbar-item-list-item-info4 {
    display: block;
}

.navbar-item-list-item-cv-profile:hover {
    background-color: #819bd1;
}

.navbar-item-list-item-info-list {
    padding: 0;
}

.navbar-item-list-item-info-list a {
    color: #333;
}

.navbar-item-list-item-info-item {
    padding: 1rem 1rem;
}
.navbar-item-list-item-blog:hover {
    background-color: #819bd1;
}

.navbar-item-list-item-info5 {
    position: absolute;
    width: 20rem;
    background-color: var(--white-color);
    top: 4rem;
    display: none;
    z-index: 1;
}

.navbar-item-list-item-blog:hover .navbar-item-list-item-info5 {
    display: block;
}



.item2{
    color: #3d578d;
}

.item2:hover{
    cursor: pointer;
}
/* --------------------------- PAGE ------------------------------------------------ */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F2F2;

}

.container {
    margin-top: 1rem;
    max-width: 120rem;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.container-blog h2 {
    width: 80rem;
}


.post-wrapper .img-post {
    width: 22.4rem;
    height: 32rem;
    background-repeat: no-repeat;
}
.container-blog{
    text-align: center;

}
.post-wrapper-ebook{
    display: flex;
    flex-wrap: wrap;
}

.post-wrapper-ebook li {
    width: 22.6rem;
    margin: 1rem;
    border: 1px solid rgb(112, 109, 109);
}

.post-wrapper-ebook h2 {
    width: 22.5rem;
}
/* ASIDE */

.container-aside {
    width:40rem;
    height: 90rem;

    font-size: 1.5rem;
}

.container-aside-search{
    display: flex;
    align-items: center;

}
.container-aside-search input{
    margin-top: 2rem;
    width: 30rem;
    height: 4rem;
}
.container-aside-search .logo{
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: #6077A6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recent-post .header{
    margin-top: 4rem;
}
.container-aside .recent-post ul li{
    margin: 1rem;
}

/* ---------------------------------------------------footer------------------------------------ */
a{
    text-decoration: none
    }
    
    Ul li{
    List-style:none;
    } 
footer {
    width: 100%;
    height: 28rem;
    margin-top: 3.3rem;
    background-color: #333;
    color: #c0bbb2;
    font-size: 1.3rem;
}

footer a {
    color: #c0bbb2;
}

footer a:hover {
    color: var(--white-color);
}

.footer-one {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.footer-one::after {
    content: "";
    display: block;
    position: absolute;
    width: 95%;
    border-bottom: 1px solid rgb(156, 156, 156);
    bottom: 0;
}

.footer-one-content-list img {
    width: 15rem;
}

.footer-one-content-item {
    padding-top: 15px;
    font-size: 1.3rem;
}

.footer-one-content-work-list h2 {
    padding-top: 2.3rem;
    color: var(--white-color);
}

.footer-one-content-work-item {
    padding-top: 1rem;
}

.footer-one-content-about-list h2 {
    padding-top: 2.3rem;
    color: var(--white-color);
}

.footer-one-content-about-item {
    padding-top: 1rem;
}

.footer-one-content-term-list h2 {
    padding-top: 2.3rem;
    color: var(--white-color);
}

.footer-one-content-term-item {
    padding-top: 1rem;
}

.footer-one-content-partners-list h2 {
    padding-top: 2.3rem;
    color: var(--white-color);
}

.footer-one-content-partners-item {
    padding-top: 1rem;
}

.footer-one-content-app-list h2 {
    padding-top: 2.3rem;
    color: var(--white-color);
}

.footer-one-content-app-item {
    padding-top: 1rem;
}


.footer-one-content-app-item-link {
    font-size: 1.6rem;
    padding: 0 1rem;
}

.footer-one-content-app-item-facebook:hover {
    color: #1877f2;
}

.footer-one-content-app-item-twitter:hover {
    color: #71afff;
}

.footer-one-content-app-item-youtube:hover {
    color: #f00;
}

.footer-one-content-app-item-insta:hover {
    color: #ff3593;
}

.footer-two {
    display: flex;
    justify-content: space-around;
    color: var(--white-color);
    padding-top: 2rem;
}